<img src="<%=@todo[:image]%>" height="250" width="250"
<p>Do at <time>8:30</time> every morning.</p>
<h1>Todo <%= @todo[:id]%></h1>
<p><%= @todo [:name]%></p>
<p><%= @todo[:description]%></p>
<p><%= @todo[:duration]%> mins</p>

 

 
  